@model Vidly.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Customers";
}

<br />
<h2>@ViewBag.Title</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Discount Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customer)
        {
        <tr>
            <th scope="row">@customer.Id</th>
            <td><a href="/customers/details/@customer.Id">@customer.Name</a></td>
            <td>@customer.MembershipType.DiscountRate%</td>
        </tr>
        }
    </tbody>
</table>