@model Vidly.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Customers";
}

<br />
<h2>@ViewBag.Title</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Customer)
        {
            <tr>
                <th scope="row">@i.Id</th>
                <td><a href="/customers/details/@i.Id">@i.Name</a></td>
            </tr>
        }
    </tbody>
</table>